asttokens==2.4.1
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.49.0
ipython==8.22.1
ipywidgets==8.1.2
jedi==0.19.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
llvmlite==0.42.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
mpmath==1.3.0
networkx==3.2.1
numba==0.59.0
numpy==1.26.4
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pynucastro==2.2.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
python-dateutil==2.8.2
scipy==1.12.0
six==1.16.0
stack-data==0.6.3
sympy==1.12
traitlets==5.14.1
wcwidth==0.2.13
widgetsnbextension==4.0.10
